---

// conponent imports
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";

const allPosts = await Astro.glob("./*.md");
---

<MainLayout title="home">
  <section class="con">
    {
      allPosts.map((post) => <PostCard frontmatter={post.frontmatter}
      url={post.url} tagType="h2"/>)
    }
  </section>
</MainLayout>