---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="My About Page">
  <section class="container about" aria-label="About Me">
    <img src="/images/headshot.jpg" alt="My gea">
  </section>
</MainLayout>