---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="My About Page">
  <section class="container about" ar>

  </section>
</MainLayout>