---
// component imports
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="My Blog">
  <div id="container">
    <div class="animate-title inview">
        <span class="char">A</span>
        <span class="char">N</span>
        <span class="char">I</span>
        <span class="char">M</span>
        <span class="char">A</span>
        <span class="char">T</span>
        <span class="char">I</span>
        <span class="char">O</span>
        <span class="char">N</span>
    </div>
    <button onclick="document.querySelector('.animate-title').classList.toggle('inview');">Animation</button>
</div>
</MainLayout>


<style>

  
</style>