---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="My Blog">
  <div class="bg">
    <span class="title">
      <span>PORTFOLIO</span>
      <span>JU</span>
    </span>
  </div>
</MainLayout>
