---
// component imports
import Link from "../components/Link.astro";
import { Icon } from 'astro-icon';
import { Image } from "@astrojs/image/components"
import MainLayout from "../layouts/MainLayout.astro";
import { Sprite } from 'astro-icon'
import { slugify, formatDate } from "../js/utils";

import test1 from ""

const { frontmatter, url, tagType } = Astro.props;


const projects = [
  {
    name: "Thankful Thoughts",
    description:
      "ThankfulThoughts is a web app that generates an appreciative sentence of something or someone you are thankful for.",
    image: "/images/post-1.jpg",

    github: "https://github.com/hqasmei/thankful-thoughts",
  
    link: "https://thankfulthoughts.io/",
  },
 
]


---

<MainLayout title="Projects" description="My projects Page">
  <section class="" aria-label="Projects">
    <h1 class="mb-10 text-center font-bold text-4xl">
      Projects
      <hr class="w-6 h-1 mx-auto my-4 bg-teal-500 border-0 rounded"></hr>
    </h1>

    <div class="flex flex-col space-y-28">
      {projects.map((project, idx) => {
        return (
          <div >
           
              <div class="flex flex-col  animate-slideUpCubiBezier animation-delay-2 md:flex-row md:space-x-12">
                <div class=" md:w-1/2">
                  
                  {project.image}
                 
                </div>
                <div class="mt-8 md:w-1/2">
                  <h1 class="text-4xl font-bold mb-6">{project.name}</h1>
                  <p class="text-xl leading-7 mb-4 text-neutral-600 dark:text-neutral-400">
                    {project.description}
                  </p>
                  <div class="flex flex-row align-bottom space-x-4">
                    <Sprite.Provider>
                      <a href={project.github} ><Sprite name="grommet-icons:github" class="w-12" /></a>
                      
                      </Sprite.Provider>
                   
                    
                   
                  
                  
                  </div>
                </div>
              </div>
           
          </div>
        )
      })}
      
    </div>

  </section>
</MainLayout>