---
// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Skils" description="My Skil Page">
  <section class="container about" aria-label="Skils">
    <div class="content">
      <h1 class="h1">My S</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus recusandae doloribus est fugit aut doloremque impedit tempora vel fugiat nesciunt placeat quam hic error ratione incidunt sunt, totam rerum sed.</p>
      <Link href="#" style="primary" text="contact me" />
    </div>
  </section>
</MainLayout>