---
// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Contact" description="contact Page" >
  <div
  class="container"
  style={{
    display: "grid",
    placeItems: "center",
    textAlign: "center",
    gap: "var(--space-sm)",
  }}
>
  <div>
    <h2 class="h2">Thank you!</h2>
    <p>Your submission has been received.</p>
    <p>After confirming the content, the appropriate person in charge will get back to you.</p>
  </div>
  <Link
    href="/"
    style="secondary"
    text="Go Home"
    icon={{
      name: "tabler:home",
      side: "right",
    }}
  />
</div>
</MainLayout>

<script async src="https://www.google.com/recaptcha/api.js"></script>